GROUP_ID=123456789@g.us
ADMIN_NUMBERS=5921233456@g.us,5921233456@g.us
PORT=3000
WHATSAPP_SESSION_PATH=

# Redis Config
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Auth Config
WEBHOOK_USER=
WEBHOOK_PASSWORD=